@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+IN:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccd5ae;
}

.container {
  display: flex;
  width: 70%;
  max-width: 1000px;
  background-color: #fff;
  color: #5f7031;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.intro, .form-section {
  padding: 20px;
  flex: 1;
}

.intro{
  background-color: #92a167;
  background-image: url("../image/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  color: #fff;
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-section input {
  width: 95%;
  color: #576b1f;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #a49898;
  border-radius: 5px;
}

.form-section button {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s, transform 0.3s;
}

.form-section button:hover 
{
  background-color: #0056b3;
  transform: scale(1.05);
}

.form-section input[type=checkbox] {
  margin-bottom: 20px;
  vertical-align: left;
  cursor: pointer;
  width: 1em;
}

body.dark-theme {
  background-color: #212529;
  color: #fff;
}

body.light-theme {
  background-color: #fff;
  color: #212529;
}

.form-section.dark-theme{
  background-color: #495057;
  color:#fff;
}

.form-section.light-theme{
  background-color: #f9f9f9;
  color:#212529;
}
 
h1{
  text-align: center;
  margin-bottom: 20px;
}
 
small{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #6c757d;
}
 
a{
  color: #007bff;
}
  
a:hover{
  color: #0056b3;
}
 
.btn.dark-theme{
  background-color: #fff;
  color:#212529;
}
 
.btn.light-theme{
  background-color: #007bff;
  color:#fff;
}

hr{
  margin: 20px 0;
  border-top: 1px solid #dee2e6;
}
 
.back-button{
  margin-top: 20px;
  text-align: center;
}
 
.like-button{
  text-align: center;
}